# Create a symlink to appropriate /dev/input/eventX at /dev/keychron-k12
ACTION=="add", SUBSYSTEM=="input", ATTRS{id/product}=="024f", ATTRS{id/vendor}=="05ac", SYMLINK+="keychron-k12"
ACTION=="add", SUBSYSTEM=="input", ATTRS{idProduct}=="024f", ATTRS{idVendor}=="05ac", SYMLINK+="keychron-k12"
